<template>
  <card id="create-type" class="fluid">
    <div class="row">
      <h3>Создать новый тип товара</h3>
    </div>
    <div class="row">
      <label for="title">Название</label>
      <input id="title" v-model="data.title" class="form-control" type="text" />
    </div>
    <div class="row">
      <label for="slug">Slug</label>
      <input id="slug" v-model="data.slug" class="form-control" type="text" />
    </div>
    <div class="row">
      <label for="description">Описание</label>
      <textarea
        id="description"
        v-model="data.description"
        class="form-control"
        type="text"
      />
    </div>
    <edit-footer :is-editable="true" @save="save" />
  </card>
</template>

<script>
import Card from '~/components/Card'
import EditFooter from '~/components/EditFooter'
import axios from 'axios'

export default {
  validate({ params }) {
    // Must be a number
    return /^\d+$/.test(params.id)
  },

  components: {
    Card,
    EditFooter
  },

  data: () => ({
    data: {
      title: '',
      slyg: '',
      description: ''
    }
  }),

  computed: {
    type() {
      return this.$store.state.brands.one
    }
  },

  watch: {
    type(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.data.title = newValue.title
        this.data.slug = newValue.slug
        this.data.description = newValue.description
      }
    }
  },

  created() {
    this.update()
  },

  methods: {
    update() {
      this.$store.dispatch('brands/fetch', this.$route.params.id)
    },

    async save() {
      try {
        await axios.put(`/api/brands/${this.$route.params.id}`, this.data)
        this.$toast.success('Бренд успешно обновлен.')
        this.$router.go(-1)
      } catch (err) {
        this.$toast.error('Ошибка обновления бренда.')
      }
    }
  },

  head() {
    return { title: 'Редактирование бренда' }
  }
}
</script>

<style lang="scss">
#create-type {
  & .row {
    margin: 1rem 0;
    padding: 0 2rem;
  }

  & label {
    min-width: 10rem;

    &::after {
      content: ':';
    }
  }
}
</style>
