<template>
  <card id="create-type" class="fluid">
    <div class="row">
      <h3>Создать новый бренд</h3>
    </div>
    <div class="row">
      <label for="title">Название</label>
      <input id="title" v-model="data.title" class="form-control" type="text" />
    </div>
    <div class="row">
      <label for="slug">Slug</label>
      <input id="slug" v-model="data.slug" class="form-control" type="text" />
    </div>
    <div class="row">
      <label for="description">Описание</label>
      <textarea
        id="description"
        v-model="data.description"
        class="form-control"
        type="text"
      />
    </div>
    <edit-footer @save="save" />
  </card>
</template>

<script>
import Card from '~/components/Card'
import EditFooter from '~/components/EditFooter'

export default {
  components: {
    Card,
    EditFooter
  },

  data: () => ({
    data: {
      title: '',
      slyg: '',
      description: ''
    }
  }),

  methods: {
    async save() {
      try {
        await this.$store.dispatch('brands/post', this.data)
        this.$toast.success('Бренд успешно создан.')
        this.$router.go(-1)
      } catch (err) {
        this.$toast.error('Ошибка создания бренда.')
      }
    }
  },

  head() {
    return { title: 'Создание бренда' }
  }
}
</script>

<style lang="scss">
#create-type {
  & .row {
    margin: 1rem 0;
    padding: 0 2rem;
  }

  & label {
    min-width: 10rem;

    &::after {
      content: ':';
    }
  }
}
</style>
