<template>
  <div class="control">
    <page title="Бренды" @update="update">
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>название</th>
            <th>slug</th>
            <th>описание</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in brands"
            :key="item.id"
            @click="$router.push($route.path + '/' + item.id)"
          >
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.slug }}</td>
            <td>{{ item.description }}</td>
          </tr>
        </tbody>
      </table>
    </page>
  </div>
</template>

<script>
import Page from '~/components/ControlPage'
export default {
  components: {
    Page
  },

  computed: {
    brands() {
      return this.$store.state.brands.list
    }
  },

  methods: {
    async update() {
      try {
        await this.$store.dispatch('brands/fetchAll')
        this.$toast.success('Бренды успешно обновленны.')
      } catch (err) {
        this.$toast.error('Ошибка обновления брендов.')
      }
    }
  },

  head() {
    return { title: 'Бренды' }
  }
}
</script>
