<template>
  <div class="control">
    <page title="Типы товара" @update="update">
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>название</th>
            <th>slug</th>
            <th>описание</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in types"
            :key="item.id"
            @click="$router.push($route.path + '/' + item.id)"
          >
            <td>{{ item.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.slug }}</td>
            <td>{{ item.description }}</td>
          </tr>
        </tbody>
      </table>
    </page>
  </div>
</template>

<script>
import Page from '~/components/ControlPage'
export default {
  components: {
    Page
  },

  computed: {
    types() {
      return this.$store.state.types.list
    }
  },

  methods: {
    async update() {
      try {
        await this.$store.dispatch('types/fetchAll')
        this.$toast.success('Типы товара успешно обновленны.')
      } catch {
        this.$toast.error('Ошибка обновления типов товара.')
      }
    }
  },

  head() {
    return { title: 'Типы товара' }
  }
}
</script>

<style lang="scss"></style>
