.btn {
    color: $black;
    background: $white;
    box-sizing: border-box;
    border: $blue solid 0.1rem;
    padding: 0.5rem 1.2rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
    transition: background-color .2s linear, color .2s linear;

    &:hover {
        background: $blue;
        color: $white;
    }

    &.btn-primary {
        color: $white;
        background: $blue;
        border-color: $blue;
  
        &:hover {
            background: $white;
            color: $blue;
        }
    }
  
    &.btn-success {
        color: $white;
        background: $green;
        border-color: $green;
  
        &:hover {
            background: $white;
            color: $green;
        }
    }
  
    &.btn-danger {
    color: $white;
    background: $red;
    border-color: $red;

        &:hover {
            background: $white;
            color: $red;
        }
    }

    &:disabled {
        opacity: 0.6;
        cursor: auto;

        &:hover {
            color: inherit;
            background-color: inherit;
        }
    }
}