/* main color */
$grey: rgba(86, 85, 84, 1);
$blue: rgba(46, 134, 171, 1);
$red: rgba(242, 66, 54, 1);
$green: rgb(26, 188, 156);
$white: #fff;
$black: #000;

/* support color */
$middle_grey: rgb(166, 172, 175);
$light_grey: rgb(240, 240, 240);


//-----------------
/* colors config */

/* header */
$header_bg: $grey;
$header_color: $white;
$header_icon_color: $blue;
$header_menu_color: $white;
$header_menu_color_hover: $middle_grey;
$header_button_crete_bg: $header-icon-color;
$header_button_crete_bg_hover: inherit;
$header_dropdown_bg: $white;
$header_dropdown_color: $black;
$header_dropdown_color_hover: $blue;
$header_dropdown_border_color: $black;
$header_logout_color: $header_menu_color;
$header_logout_color_hover: $red;
/* ------ */

/* header */
$fon_bg: $light_grey;
/* ------ */
