html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.ml-auto {
    margin-left: auto !important;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    height: auto;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

.fl-center {
    justify-content: center !important;
}

.form-control {
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: 400rem;
    font-size: 1.8rem;
    border: $blue solid 1px;
    border-radius: 0.5rem;
    white-space: nowrap;
    text-decoration: none;
    padding: .5rem 1rem;
    outline: none;
    transition: border 0.3s linear, color 0.3s linear,;
    resize: vertical;
    color: $grey;
    appearance: none;
  
    &:hover, &:focus {
        border-color: $grey;
        color: $black;
    }
  
    &::placeholder {
      color: $light_grey;
    }
  }

  textarea.form-control {
    height: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .ptb-2 {
    margin: 2rem 0;
  }

  .control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
  }

  .fluid {
    display: flex;
    flex: 1 !important;
    max-width: none !important;
  }