table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
    margin: 1rem;
}

thead {
    border-bottom: .2rem solid $grey;
}

th {
    text-align: left;

    &:first-child {
        width: 3rem;
        padding-left: 1rem;
    }

    &:last-child {
        padding-right: 1rem;
    }
}

tbody > tr > td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.5rem 0;
    border-bottom: .1rem solid rgba($color: $grey, $alpha: 0.5);

    &:first-child {
        padding-left: 1rem;
    }

    &:last-child {
        padding-right: 1rem;
    }
}

tbody > tr {
    &:first-child > td {
        padding-top: 1rem !important;
    }
    &:last-child > td {
        padding-bottom: 1rem !important;
        border-bottom: .2rem solid $grey;
    }

    &:hover > td,
    &:focus > td {
        background-color: rgba($color: $grey, $alpha: 0.2);
        cursor: pointer;
    } 
}