<template>
  <div class="container">
    <h3>Заказ #{{ $route.params.id }}</h3>
    <div class="contact">
      <h4>ФИО: {{ order.fullname }}</h4>
      <h4>Телефон: {{ order.phone }}</h4>
    </div>
    <div v-for="item in order.products" :key="item.id" class="order__section">
      <img :src="'http://api.pcmaker.local/storage/' + item.thumb" />
      <div>
        <h2>{{ item.title }}</h2>
        <span>{{ item.description }}</span>
      </div>
      <span class="price">{{ item.price }}</span>
    </div>
    <button class="btn btn-primary" @click="$router.go(-1)">Назад</button>
  </div>
</template>

<script>
export default {
  validate({ params }) {
    // Must be a number
    return /^\d+$/.test(params.id)
  },

  computed: {
    order() {
      return this.$store.state.orders.one
    }
  },

  created() {
    this.update()
  },

  methods: {
    update() {
      this.$store.dispatch('orders/fetch', this.$route.params.id)
    }
  },

  head() {
    return { title: 'Просмотр заказа' }
  }
}
</script>

<style lang="scss">
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  & .contact {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0 3rem;

    & > h4 {
      margin: 1rem;
    }
  }

  .order__section {
    margin: 1rem 3rem;
    display: flex;
    flex: 1;
    align-self: stretch;
    padding: 2rem;
    border-bottom: 0.2rem solid #000;

    & img {
      height: 6rem;
      width: 6rem;
      object-fit: contain;
    }

    & > div {
      margin: 0 2rem;
      display: flex;
      flex-direction: column;

      & > h2 {
        margin: 0.5rem 1rem;
      }
    }

    & .price {
      margin-left: auto;
      font-weight: 600;
      color: red;
    }
  }
}
</style>
