<template>
  <div class="control">
    <page title="Заказы" :is-create="false">
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>ФИО закзчика</th>
            <th>телефон</th>
            <th>кол-во товаров в заказе</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in orders"
            :key="item.id"
            @click="$router.push($route.path + '/' + item.id)"
          >
            <td>{{ item.id }}</td>
            <td>{{ item.fullname }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.products.length }}</td>
          </tr>
        </tbody>
      </table>
    </page>
  </div>
</template>

<script>
import Page from '~/components/ControlPage'
export default {
  components: {
    Page
  },

  computed: {
    orders() {
      return this.$store.state.orders.list
    }
  },

  methods: {
    async update() {
      try {
        await this.$store.dispatch('orders/fetchAll')
        this.$toast.success('Заказы успешно обновленны.')
      } catch {
        this.$toast.error('Ошибка обновления заказов.')
      }
    }
  },

  head() {
    return { title: 'Заказы' }
  }
}
</script>
