<template>
  <div class="card">
    <slot />
    <div class="footer">
      <slot name="footer" />
    </div>
  </div>
</template>

<style lang="scss">
.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  max-width: 20rem;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem 1rem;
  margin: 2rem;

  & > .footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    margin: 0 2rem;
  }
}
</style>
