<template>
  <card class="product">
    <img :src="thumb_create" />
    <h5>{{ brand }}</h5>
    <h4>{{ title }}</h4>
    <p>{{ description }}</p>
    <span class="price">{{ price }} руб.</span>
  </card>
</template>

<script>
import card from '~/components/Card'
export default {
  components: {
    card
  },
  props: {
    img: {
      type: String,
      required: true
    },
    brand: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    price: {
      type: Number,
      required: true
    }
  },

  computed: {
    thumb_create() {
      if (this.img === null) {
        return '/_nuxt/assets/svg/monitor.svg'
      }
      return 'http://api.pcmaker.local/storage/' + this.img
    }
  }
}
</script>

<style lang="scss">
.product {
  max-height: 30rem;
  min-width: 20rem;
  max-width: 20rem;

  & > h5 {
    margin: 0;
  }

  & > h4 {
    margin: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 2rem;
    max-height: 2rem * 2;
  }

  &:hover,
  &:focus,
  &.active {
    box-shadow: 0 0 3rem 0 rgba(83, 41, 97, 1);
  }

  & > img {
    height: 16rem;
    background-size: cover;
  }

  & > p {
    font-size: 1.2rem;
    margin: 0.5rem 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.6rem;
    max-height: 1.6rem * 3;
  }

  & > .price {
    margin-left: auto;
    margin-right: 1rem;
  }
}
</style>
