<template>
  <card class="fluid">
    <div class="row control__header">
      <h3>{{ title }}</h3>
      <nuxt-link
        v-if="isCreate"
        class="btn btn-success"
        :to="$route.path + '/create'"
      >
        создать
      </nuxt-link>
    </div>
    <div class="body">
      <slot />
    </div>
    <div class="row footer">
      <button class="btn btn-success" @click="$emit('update')">
        обновить
      </button>
    </div>
  </card>
</template>

<script>
import Card from '~/components/Card'
export default {
  components: {
    Card
  },
  props: {
    title: {
      type: String,
      required: true
    },
    isCreate: {
      type: Boolean,
      required: false,
      default: true
    }
  }
}
</script>

<style lang="scss">
.card {
  & > .control__header {
    & > a {
      margin-left: auto;
    }
  }
}
.body {
  display: flex;
  flex: 1;
  align-self: stretch;
}

.footer {
  & > button {
    margin: 0 auto;
  }
}
</style>
