<template>
  <div class="row edit__footer">
    <button class="btn" @click="$router.go(-1)">назад</button>
    <button class="btn btn-success" @click="$emit('save')">сохранить</button>
    <button v-if="isEditable" class="btn btn-danger" @click="del">
      удалить
    </button>
  </div>
</template>

<script>
export default {
  props: {
    isEditable: {
      default: false,
      type: Boolean
    }
  },

  methods: {
    async del() {
      confirm('Вы уверены что хотите удалить товар?')
      try {
        let path = this.$route.path
        path = path
          .replace('/control/', '')
          .replace(/\d/g, '')
          .replace('/', '')
        alert(path)
        await this.$store.dispatch(path + '/del', this.$route.params.id)
        this.$toast.success('Тип товара успешно удален.')
        this.$router.go(-1)
      } catch {
        this.$toast.danger('Ошибка удаления типа товара.')
      }
    }
  }
}
</script>

<style lang="scss">
.edit__footer {
  & > .btn-danger {
    margin-left: auto;
  }
}
</style>
