<template>
  <nav class="header">
    <div class="header__continer">
      <img
        class="logo"
        src="~assets/svg/monitor.svg"
        @click="$router.push(isControl ? '/control' : '/')"
      />
      <ul v-if="isControl" class="menu">
        <li v-for="item of controlMenu" :key="item.id" class="menu__item">
          <nuxt-link :to="item.path" active-class="active">
            {{ item.title }}
          </nuxt-link>
        </li>
      </ul>
      <ul v-else class="menu">
        <li v-for="item of menu" :key="item.id" class="menu__item">
          <nuxt-link :to="item.path" exact-active-class="active">
            {{ item.title }}
          </nuxt-link>
        </li>
      </ul>
      <nuxt-link class="btn btn-danger" :to="isControl ? '/' : '/control'">
        {{ changeMenu }}
      </nuxt-link>
    </div>
  </nav>
</template>

<script>
export default {
  computed: {
    menu() {
      return this.$store.getters['menu/getList']
    },
    controlMenu() {
      return this.$store.getters['menu/getControlList']
    },
    isControl() {
      return this.$route.path.includes('control')
    },
    changeMenu() {
      return this.isControl ? 'выход' : 'панель управления'
    }
  }
}
</script>

<style lang="scss">
.header {
  height: 5rem;
  background-color: $header_bg;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.header__continer {
  display: flex;
  align-items: center;
  width: 120rem;
}

@media screen and (min-device-width: 1200px) {
  .header__continer {
    max-width: 100rem;
  }
}

@media screen and (max-width: 1100px) {
  .header__continer {
    max-width: 82rem;
  }
}

@media screen and (max-width: 880px) {
  .header__continer {
    padding: 0 2rem;
  }
}

.logo {
  height: 4rem;
  background-size: cover;
  cursor: pointer;
}

.menu {
  display: flex;
  margin-left: auto;
  color: $header_menu_color;

  & > .menu__item {
    margin: 0 1rem;
    color: inherit;
    transition: color 0.2s linear;

    &:hover,
    &:focus,
    & > .active {
      color: $header_menu_color_hover;
    }
  }
}
</style>
