<template>
  <card id="create-type" class="fluid">
    <div class="row">
      <h3>Редактирование товара</h3>
    </div>
    <div class="row">
      <label for="title">Название</label>
      <input id="title" v-model="data.title" class="form-control" type="text" />
    </div>
    <div class="row">
      <label for="slug">Slug</label>
      <input id="slug" v-model="data.slug" class="form-control" type="text" />
    </div>
    <div class="row">
      <label for="type">Тип товара</label>
      <select id="type" v-model="data.type_id" class="form-control">
        <option v-for="item in types" :key="item.id" :value="item.id">{{
          item.title
        }}</option>
      </select>
    </div>
    <div class="row">
      <label for="brand">Бренд</label>
      <select id="brand" v-model="data.brand_id" class="form-control">
        <option v-for="item in brands" :key="item.id" :value="item.id">{{
          item.title
        }}</option>
      </select>
    </div>
    <div class="row">
      <label for="description">Описание</label>
      <textarea
        id="description"
        v-model="data.description"
        class="form-control"
        type="text"
      />
    </div>
    <div class="row">
      <label>Превью</label>
      <input
        id="file"
        ref="file"
        class="form-control"
        type="file"
        hidden
        @change="handleFileUpload"
      />
      <label class="btn" style="margin-left: 0;" for="file">
        Выбрать изображение
      </label>
      <span>{{ fileName }}</span>
    </div>
    <div class="row">
      <label for="price">Цена</label>
      <input
        id="price"
        v-model.number="data.price"
        class="form-control"
        type="number"
      />
    </div>
    <edit-footer :is-editable="true" @save="save" />
  </card>
</template>

<script>
import Card from '~/components/Card'
import EditFooter from '~/components/EditFooter'
import axios from 'axios'

export default {
  validate({ params }) {
    // Must be a number
    return /^\d+$/.test(params.id)
  },

  components: {
    Card,
    EditFooter
  },

  data: () => ({
    data: {
      title: '',
      slug: '',
      description: '',
      brand_id: 0,
      type_id: 0,
      price: 0,
      file: ''
    },
    fileName: ''
  }),

  computed: {
    type() {
      return this.$store.state.products.one
    },
    brands() {
      return this.$store.state.brands.list
    },
    types() {
      return this.$store.state.types.list
    }
  },

  watch: {
    type(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.data.title = newValue.title
        this.data.slug = newValue.slug
        this.data.description = newValue.description
        this.data.brand_id = newValue.brand.id
        this.data.type_id = newValue.type.id
        this.data.price = newValue.price
        this.fileName = newValue.thumb
      }
    }
  },

  created() {
    this.update()
  },

  methods: {
    update() {
      this.$store.dispatch('products/fetch', this.$route.params.id)
    },

    handleFileUpload() {
      this.data.file = this.$refs.file.files[0]
      this.fileName = this.$refs.file.files[0].name
    },

    createFormData() {
      let fd = new FormData()
      fd.append('title', this.data.title)
      fd.append('slug', this.data.slug)
      fd.append('description', this.data.description)
      fd.append('brand_id', this.data.brand_id)
      fd.append('type_id', this.data.type_id)
      fd.append('price', this.data.price)
      fd.append('thumb', this.data.file)
      return fd
    },

    async save() {
      const formData = this.createFormData()
      try {
        await axios.post(`/api/products/${this.$route.params.id}`, formData, {
          headers: { 'Content-Type': 'multipart/form-data' }
        })
        this.$toast.success('Продукт успешно обновлен.')
        this.$router.go(-1)
      } catch (err) {
        this.$toast.error('Ошибка обновления продукта.')
      }
    }
  },

  head() {
    return { title: 'Редактирование товара' }
  }
}
</script>

<style lang="scss">
#create-type {
  & .row {
    margin: 1rem 0;
    padding: 0 2rem;
  }

  & label {
    min-width: 10rem;

    &::after {
      content: ':';
    }
  }
}
</style>
