<template>
  <div class="continer">
    <h1 style="text-align: center;">Потвердить закаказ</h1>
    <card id="order-form" class="fluid">
      <div class="row">
        <label for="title">Имя</label>
        <input
          id="title"
          v-model="data.name"
          class="form-control"
          type="text"
        />
      </div>
      <div class="row">
        <label for="secondanme">Фамилия</label>
        <input
          id="secondanme"
          v-model="data.secondname"
          class="form-control"
          type="text"
        />
      </div>
      <div class="row">
        <label for="phone">Номер телефона</label>
        <input
          id="phone"
          v-model="data.phone"
          class="form-control"
          type="text"
        />
      </div>
      <hr />
      <div v-for="item in products" :key="item.id" class="order__section">
        <img :src="thumb_create(item.thumb)" />
        <div>
          <h2>{{ item.title }}</h2>
          <span>{{ item.description }}</span>
        </div>
        <span class="price">{{ item.price }} руб.</span>
      </div>
      <h3>Итого: {{ total }} руб.</h3>
      <edit-footer @save="save" />
    </card>
  </div>
</template>

<script>
import Card from '~/components/Card'
import EditFooter from '~/components/EditFooter'

export default {
  components: {
    Card,
    EditFooter
  },

  async asyncData(context) {
    const { data } = await context.$axios.get('api/web/types')
    return { types: data }
  },

  data: () => ({
    data: {
      name: '',
      secondname: '',
      phone: '',
      types: ''
    }
  }),

  computed: {
    products() {
      let res = []
      this.types.forEach(element => {
        if (element.products.length > 0) {
          element.products.forEach(el => {
            this.$store.state.orders.current.forEach(id => {
              if (el.id == id) {
                res.push(el)
              }
            })
          })
        }
      })
      return res
    },

    products_id() {
      let res = []
      this.products.forEach(el => {
        res.push(el.id)
      })
      return res
    },

    total() {
      let total = 0
      this.products.forEach(el => {
        total += el.price
      })
      return total
    }
  },

  methods: {
    async save() {
      try {
        await this.$store.dispatch('orders/post', {
          fullname: this.data.name + ' ' + this.data.secondname,
          phone: this.data.phone,
          products_id: this.products_id
        })
        this.$toast.success('Заказ успешно создан.')
        this.$router.go(-1)
      } catch (err) {
        this.$toast.error('Ошибка создания заказа, попробуйте чуть позже.')
      }
    },

    thumb_create(thumb) {
      if (thumb === null) {
        return '/_nuxt/assets/svg/monitor.svg'
      }
      return 'http://api.pcmaker.local/storage/' + thumb
    }
  }
}
</script>

<style lang="scss">
.continer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#order-form {
  & .row {
    margin: 1rem 0;
    padding: 0 2rem;
  }

  & label {
    min-width: 15rem;

    &::after {
      content: ':';
    }
  }

  & .order__section {
    margin: 1rem 3rem;
    display: flex;
    flex: 1;
    align-self: stretch;
    padding: 2rem;
    border-bottom: 0.2rem solid #000;

    & img {
      height: 6rem;
      width: 6rem;
      object-fit: contain;
    }

    & > div {
      margin: 0 2rem;
      display: flex;
      flex-direction: column;

      & > h2 {
        margin: 0.5rem 1rem;
      }
    }

    & .price {
      margin-left: auto;
      font-weight: 600;
      color: red;
    }
  }
}
</style>
