<template>
  <div class="wrapper">
    <base-header />
    <div class="content">
      <nuxt />
    </div>
  </div>
</template>

<script>
import BaseHeader from '~/components/Header'
export default {
  name: 'DefoultLayout',

  components: {
    BaseHeader
  },

  data: () => ({
    menu: [
      { id: 0, title: 'Комплектующие', path: '/accessories' },
      { id: 1, title: 'Моя сборка', path: '/order' }
    ]
  })
}
</script>

<style lang="scss">
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: $fon_bg;
}

.content {
  display: flex;
  align-self: stretch;
  padding: 1rem 2rem;
}
</style>
