<template>
  <div class="continer">
    <div class="wrapper__error">
      <img
        src="~assets/svg/error-404.svg"
        alt="Количство уникальных пользователей"
      />
      <h1>Такой страницы не существует</h1>
      <h3>
        <nuxt-link to="/" class="link">Домашня страница</nuxt-link>
      </h3>
    </div>
  </div>
</template>

<script>
export default {
  //    props: ['error']
}
</script>

<style lang="scss">
.wrapper__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  text-align: center;

  & > img {
    margin: 1rem 2rem;
    height: 20rem;
  }

  & h1 {
    color: $grey;
  }

  & .link {
    color: $blue;
    transition: color 0.3s linear;

    &:hover,
    &:focus {
      color: $grey;
    }
  }
}
</style>
