<template>
  <div class="continer">
    <h1 style="text-align: center;">Собрать свой компьютер</h1>
    <div v-for="type in showType" :key="type.id" class="section__container">
      <h3 class="section__title" @click="$router.push(type.slug)">
        {{ type.title }}
      </h3>
      <div class="widget__continer">
        <card
          v-for="product in type.products"
          :key="product.id"
          :img="product.thumb"
          :brand="product.brand.title"
          :title="product.title"
          :description="product.description === null ? '' : product.description"
          :price="product.price"
          @click.native="addItemInOrder(product.id, $event)"
        />
      </div>
    </div>
    <nuxt-link class="btn btn-success btn-confirm" to="/order/confirm">
      Подтвердить сборку
      <span v-if="orderItemCount > 0">{{ orderItemCount }}</span>
    </nuxt-link>
  </div>
</template>

<script>
import card from '@/components/CardProduct'

export default {
  components: {
    card
  },

  async asyncData(context) {
    const { data } = await context.$axios.get('api/web/types')
    return { types: data }
  },

  data: () => ({
    types: ''
  }),

  computed: {
    showType() {
      let res = []
      this.types.forEach(element => {
        if (element.products.length > 0) {
          res.push(element)
        }
      })
      return res
    },

    orderItemCount() {
      return this.$store.state.orders.current.length
    }
  },

  methods: {
    addItemInOrder(id, event) {
      let isFound = false
      this.$store.state.orders.current.forEach(item => {
        if (item == id) isFound = true
      })
      if (isFound) {
        event.target.classList.remove('active')
        this.$store.dispatch('orders/remove', id)
      } else {
        event.target.classList.add('active')
        this.$store.dispatch('orders/save', id)
      }
    }
  }
}
</script>

<style lang="scss">
.continer {
  display: flex;
  flex-direction: column;
  flex: 1;

  & .btn-confirm {
    display: block;
    max-width: 30rem;
    align-self: center;
    position: relative;

    & span {
      position: absolute;
      top: -1rem;
      right: -1rem;
      height: 2rem;
      width: 2rem;
      border-radius: 100%;
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }
}

.section__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem 0;
  padding: 0 2rem;

  & > .section__title {
    color: $grey;
    cursor: pointer;
    transition: color 0.1s linear;

    &:hover,
    &:focus {
      color: $blue;
    }
  }
  & .widget__continer {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem;
    overflow: auto;
    max-width: 110rem;

    & div::last-child {
      padding-right: 5rem;
    }
  }
}
</style>
