<template>
  <div class="control">
    <card class="control__widget">
      <h3 class="title">Товары</h3>
      <img src="~assets/svg/shop.svg" />
      <span>{{ products }} шт.</span>
    </card>
    <card class="control__widget">
      <h3 class="title">Пользователи</h3>
      <img src="~assets/svg/user_count.svg" />
      <span>{{ users }} чел.</span>
    </card>
    <card class="control__widget">
      <h3 class="title">Заказы</h3>
      <img src="~assets/svg/checklist.svg" />
      <span>{{ orders }} шт.</span>
    </card>
  </div>
</template>

<script>
import Card from '~/components/Card'
export default {
  components: {
    Card
  },

  computed: {
    products() {
      return this.$store.state.products.list.length
    },
    users() {
      return 0
    },
    orders() {
      return 0
    }
  },

  created() {
    this.$store.dispatch('nuxtClientInit')
  },

  head() {
    return { title: 'Панель упавления' }
  }
}
</script>

<style lang="scss">
.control__widget {
  & > h3 {
    margin: 1rem 2rem;
  }

  & > img {
    height: 16rem;
  }

  & > span {
    margin: 2rem;
  }
}
</style>
